<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The official site of my school</title>
</head>
<body bgcolor="c0c0c0">
<p>Ministry of Education<br>
    The official site of «Rushmore» high school</p>

{% block content %}

<h4>The mark for:</h4>
<h4>Student: {{ student.get_full_name }}</h4>
<h4>Task: {{ task }}</h4>
    Enter mark:
<form action="." method="POST">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Save" />
</form>

{% endblock %}

</body>
</html>