{% extends 'base.html' %}

{% block content %}
<h4>Student:{{student.get_full_name}}</h4>
<h4>Class:{{student.grade}}</h4>
<p>Birthday: {{student.birthday}}<br><br>
Today is: {{current_date|date:"M. d, Y"}}
</p>
<form action="{% url 'class_students' pk=student.grade.id %}">
    <input type="submit" value="Go back to choose again" />
</form>
<center><p>The tasks are:</p></center>
<table border="1" bgcolor="f2f3f4" align="center">
    <tr>
        <th>№</th>
        <th>Task Name</th>
        <th>Discipline</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Mark</th>
    </tr>
    {% for task in tasks_queryset %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ task.task_name }}</td>
        <td>{{ task.discipline_id }}</td>
        <td>{{ task.start_date|date:"N. d, Y" }}</td>
        <td>{{ task.end_date|date:"N. d, Y" }}</td>
        <td>
            <a href="{% url 'mark_add' pk=student.id rel_task=task.id %}">Add mark</a>
        </td>
    </tr>
    {% endfor %}
</table><br>
<center>
    <form method="POST">{% csrf_token %}
        <button type="submit" name="to_rated_tasks">Show rated tasks</button>
    </form> <br>
    <form method="POST">{% csrf_token %}
        <button type="submit" name="to_unrated_tasks">See current tasks</button>
    </form>
</center>
{% endblock %}