<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The official site of my school</title>
</head>
<body bgcolor="c0c0c0">
<p>Ministry of Education<br>
    The official site of «Rushmore» high school</p>

{% block content %}
<br>
<p>Choose the class:</p>
<form action="{% url 'test_view' %}" method="POST" >{% csrf_token %}
<select name="input1">
    {% for class in class_queryset %}
    {% ifchanged %}
    <option>{{ class }}</option>
    {% endifchanged %}
    {% endfor %}
</select>
<input type="submit" value="Students"/>
</form><br>
<p>
    These are the students from class: {{ chosen_class.class_number }}
    group: {{ chosen_class.group }}<br><br>
    This is {{ chosen_class.type_of_class }} class - with {{ chosen_class_students }} students
</p>
<table border="1" bgcolor="f2f3f4" align="center">
<tr>
    <th>First Name</th>
    <th>Second Name</th>
    <th>Family Name</th>
    <th>Birthday</th>
    <th>Action</th>
</tr>
</table>

{% endblock %}

</body>
</html>