{% extends 'base.html' %}

{% block content %}
<h4>Student:{{student.get_full_name}}</h4>
<h4>Class:{{student.class_id}}</h4>
<p>Birthday: {{student.birthday}}<br><br>
Today is: {{current_date|date:"M. d, Y"}}
</p>
<form action="{% url 'manager_class' pk=student.class_id.id %}">
    <input type="submit" value="Go back to choose again" />
</form>
<center>These are the marks for the selected student:</center> <br>
<table border="1" bgcolor="f2f3f4" align="center">
    <tr>
        <th>№</th>
        <th>Task Name</th>
        <th>Mark</th>
    </tr>
    {% for mark in marks_queryset %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ mark.task_id }}</td>
        <td>
            <a>{{ mark }}</a>
        </td>
    </tr>
    {% endfor %}
</table><br>

{% endblock %}