{% extends 'base.html' %}

{% block content %}
<center>
    <p>These are all teachers of the school:</p>
    <table border="1" bgcolor="f2f3f4" align="center">
        <tr>
            <th>№</th>
            <th>First Name</th>
            <th>Second Name</th>
            <th>Family Name</th>
            <th>Birthday</th>
            <th>Discipline</th>
            <th>Action</th>
        </tr>
        {% for teacher in teacher_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.second_name }}</td>
            <td>{{ teacher.family_name }}</td>
            <td>{{ teacher.birthday }}</td>
            <td>{% for discipline in teacher.discipline_set.all %}
                <a href="{% url 'discipline_update' pk=discipline.id %}">{{ discipline }}</a>
                <a href="{% url 'discipline_delete' pk=discipline.id %}">Delete</a>
                <br>
                {% endfor %}
                <a href="{% url 'discipline_create' %}">Add discipline</a>
            </td>
            <td><a href="{% url 'teacher_update' pk=teacher.id %}">View</a></td>
        </tr>
        {% endfor %}
    </table> <br>
    <form action="{% url 'teacher_create' %}">
    <input type="submit" value="Add new teacher" />
    </form>
</center>

{% endblock %}