<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The official site of my school</title>
</head>
<body bgcolor="c0c0c0">
<p>Ministry of Education<br>
    The official site of «Rushmore» high school</p>

{% block content %}
<form action="." method="POST">{% csrf_token %}
    <h4>Are you sure you want to delete the mark: {{ mark }}</h4>
    <h4>To the task: {{ mark.task_id }}?</h4>
<input type="submit" value="Delete" />
</form> <br>
<form action="{% url 'mark_update' pk=mark.id %}">
    <input type="submit" value="Cancel" />
</form>
{% endblock %}

</body>
</html>