{% extends 'base.html' %}

{% block content %}
<center>
<h4>The mark for:</h4>
<h4>Student: {{ mark.student_id.get_full_name }}</h4>
<h4>Task: {{ mark.task_id }}</h4>
Change mark:
<form action="." method="POST">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Update"/>
</form> <br>
<form action="{% url 'rated' pk=mark.student_id.id %}">
    <input type="submit" value="Choose another task" />
</form> <br>
<form action="{% url 'mark_delete' pk=mark.id %}">
    <input type="submit" value="Delete chosen mark" />
</form>
</center>
{% endblock %}

</body>
</html>