{% extends 'base.html' %}

{% block content %}
<center><form action="{% url 'logout' %}" method="POST">{% csrf_token %}
<input type="submit" value="LOG OUT">
</form>
</center>
<h4>Student:{{student.get_full_name}}</h4>
<h4>Class:{{student.class_id}}</h4>
<p>Birthday: {{student.birthday}}<br><br>
Today is: {{current_date|date:"M. d, Y"}}
</p>
<center>
    <p>The rated tasks are:</p>
<table border="1" bgcolor="f2f3f4" align="center">
    <tr>
        <th>№</th>
        <th>Task Name</th>
        <th>Discipline</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Mark</th>
    </tr>
    {% for mark in marks_queryset %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ mark.task_id.task_name }}</td>
        <td>{{ mark.task_id.discipline_id }}</td>
        <td>{{ mark.task_id.start_date|date:"N. d, Y" }}</td>
        <td>{{ mark.task_id.end_date|date:"N. d, Y" }}</td>
        <td>{{ mark }}</td>
    </tr>
    {% endfor %}
</table><br>
    <form method="POST">{% csrf_token %}{{ form.as_p }}
        <button type="submit" name="btnform2">Show unrated tasks</button>
    </form>
</center>
{% endblock %}