<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The official site of my school</title>
</head>
<body bgcolor="c0c0c0">
<p>Ministry of Education<br>
    The official site of «Rushmore» high school</p>

{% block content %}
<br>
<p>Choose the class:</p>
<form method="POST" >{% csrf_token %}
<select name="input1">
    {% for class in class_queryset %}
    {% ifchanged %}
    <option value="{{ class.id }}">{{ class }}</option>
    {% endifchanged %}
    {% endfor %}
</select>
<input type="submit" value="Students"/>
</form>

{% endblock %}

</body>
</html>